<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Index</title>
    </head>
    <body>
        <a href="/terminals">Terminal List</a><br/><br/>
        <a href="/terminal/new">New Terminal</a><br/><br/>
        <a href="/locations">Location List</a><br/><br/>
        <a href="/location/new">New Location</a><br/><br/>
        <a href="/categories">Category List</a><br/><br/>
        <a href="/category/new">New Category</a><br/><br/>
        <a href="/users">User List</a><br/><br/>
        <a href="/user/new">New User</a><br/><br/>
        <a href="/companies">Company List</a><br/><br/>
        <a href="/company/new">New Company</a><br/><br/>
        <h1>I am "root"</h1>
    </body>
</html>